<h1><%= link_to 'Manage Accounts', accounts_path %></h1>

<%= render 'entries/form' %>

<h1>Browse By Category</h1>
<% @categories.each do |category| %>
  <h2><%= link_to "#{category.cat}", category_path(category) %></h2>
<% end %>