body{
  background:#eee;
  color:#333;
  font-family:Arial,sans-serif;
  font-size:12px;
}
a{
  color:#333;
  text-decoration:underline;
}
form{
  background:#f7f7f7;
  border:1px solid #aaa;
  border-radius:10px;
  box-shadow:0 0 15px #aaa;
  margin: 10px;
  margin-bottom: 20px;
  padding: 1%;
  max-width: 25%;
}
h2{
  border-bottom:1px solid #ccc;
  font-size:11px;
  font-weight:bold;
  letter-spacing:2px;
  margin-bottom:20px;
  text-transform:uppercase;
}
h1, h3{
  text-align: right;
  font-style: oblique;
  font-size: 22px;
  margin-right: 10px;
  margin-top: 10px;
}
h3{
  font-size: 16px;
}
label{
  display:block;
  float: left;
  font-size:13px;
  font-weight:bold;
  margin-bottom: 0px;
  width:120px;
}
form p:hover label{
  color:#0459b7;
}
table {
  background:#f7f7f7;
  border:1px solid #aaa;
  border-radius:10px;
  box-shadow:0 0 15px #aaa;
  margin: 10px;
  margin-bottom: 20px;
  padding: 1%;
  max-width: 50%;
}
#table td, #table th {
  margin: 0px;
  margin-bottom: 20px;
  padding: 0px;
}
#table thead {
  color: #999;
}
#table th {
  /*text-align: none;*/
  border-bottom: 1px solid #fff;
}
#table td:hover {
  background-color: #fff;
}