<h1>Accounts</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Balance</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @accounts.each do |account| %>
      <tr>
        <td><%= account.name %></td>
        <td><%= number_to_currency(account.balance) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
